---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About Me"
  description="About Ban Finch."
>
  <section class="page-intro">
    <h1>About Me</h1>
    <p class="lede">
    I'm a Software Engineer currently based in Sweden. Focused on Backend with Java mostly. Currently working on the Gaming Industry.
    </p>
  </section>

  <p>
    This page is a placeholder for a fuller biography, current projects, and
    ways to get in touch.
  </p>
</BaseLayout>
